*,
html {
    margin: 0;
    padding: 0;
}

.kontener {
    background-color: black;
}

.navbar{
    background-color: rgb(0, 0, 0);
    width:100%;
    height:10vh;
}

.ulnavigasi{
    display: flex;
    height:100px ;
    justify-content: center;
    align-items: center;
}

.navigasi{
    list-style: none;
    padding:20px ;
    margin:5px ;
    font-size: 20pxpx;
    color:rgb(255, 255, 255)
}

.navigasi :hover {
    background-color: #999B9B;
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
}

.a-navbar{
    color: white;
    text-decoration: none;
}

.barong{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.bali{
    width: 1024px;
    height: 100%;
}

.text{
    height: 10vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hi-footer{
    font-size:40px ;
   
}